{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1 class="text-center">{{ article.title }}</h1>
    <hr>
    <p class="text-center"><img src="{{ article.image.url }}" height="600px" alt=":("></p>
    <div class="container">
        <div class="col-sm-12">
            <div class="col-sm-7 col-sm-offset-2">
                {{ article.content|safe }}
                <hr>
                <h4>Понравилась статья?</h4>
                    <div class="like-dislike">
                        <a href="#" id="like">
                            <span style="color: green;" class="glyphicon glyphicon-thumbs-up"></span>
                        </a>
                        <span id="liked" style="padding-left: 10px;">{{ article.likes }}</span>
                        <a href="#" id="dislike" style="padding-left: 25px;">
                            <span style="color: red;" class="glyphicon glyphicon-thumbs-down"></span>
                        </a>
                        <span id="disliked" style="padding-left: 10px;">{{ article.dislikes }}</span>
                    </div>
                <hr>
                <p class="add_to_favorites-{{ article.slug }}">
                    {% if current_user %}
                        {% if article in current_user.favorite_articles.all %}
                        <button class="btn btn-default disabled">Добавлено в избранное</button>
                        {% else %}
                        <a href="#" class="article" data-slug="{{ article.slug }}">
                            <button class="btn btn-danger">Добавить в избранное</button>
                        </a>
                        {% endif %}
                    {% else %}
                        <p style="text-decoration: underline; color: darkred; font-size: 0.9em;">
                            Пожалуйста зарегестрируйтесь, чтобы у Вас была возможность добавить статью в избранное*
                        </p>
                    {% endif %}
                </p>
                <p class="article_added-{{ article.slug }}"></p>
                <h2>Комментарии: </h2>
                <div class="col-sm-12 new_comment">

                </div>
                {% for comment in article_comments %}
                    <div class="col-sm-12">
                        <hr>
                        <small>{{ comment.author.username }}</small>
                        <p>{{ comment.comment }}</p>
                        <small>{{ comment.timestamp|date:"Y-m-d" }}</small>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-7 col-sm-offset-2">
                <hr>
                <form action="" id="comment-form" method="post">
                    <input type="hidden" id="article" data-id="{{ article.id }}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if current_user %}
                        <input type="submit" value="Добавить комментарий" id="add_comment" class="login"
                               data-toggle="modal" data-target=".bs-example-modal-sm">
                    {% else %}
                        <input type="submit" value="Добавить комментарий" id="add_comment"
                               data-toggle="modal" data-target=".bs-example-modal-sm">
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

{% block jquery %}
<script>
    $(document).ready(function(){
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        $('#add_comment').on('click', function(e){
            e.preventDefault()

            if ($('#add_comment').hasClass('login')){
                var article_id = $('#article').attr('data-id')
                var comment = $('#id_comment').val()
                if (comment){
                    data = {
                        article_id: article_id,
                        comment: comment,
                        csrfmiddlewaretoken: csrftoken
                    }

                    $.ajax({
                        type: "POST",
                        url: '{% url "add_comment" %}',
                        data: data,
                        dataType: "json",
                        success: function(data){
                            $.each(data, function(field){
                                $('.new_comment').prepend('<hr><small>'+data[field]['author']+
                                '</small><p>'+data[field]['comment']+'</p><small>'+
                                data[field]['timestamp']+'</small>')
                                $('#id_comment').val('')
                            })
                            if (!$('#comment-form').hasClass('showSuccess')) {
                                var $successMessage = $('<div class="alert alert-success" role="alert" style="padding: 5px; margin: 10px;">Комментарий успешно добавлен!</div>')
                                $('#comment-form').after($successMessage)
                                $('#comment-form').addClass('showSuccess')
                            }
                        }

                    })
                }
            } else {
                if (!$('#add_comment').hasClass('showError')) {
                        var $loginErrorMessage = $('<div class="alert alert-info" role="alert" style="padding: 5px; margin: 10px;">Чтобы иметь возможность добавить коментарий, нужно зарегестрироваться!</div>')
                        $('#add_comment').after($loginErrorMessage)
                        $('#add_comment').addClass('showError')
                    }
            }
        })
    })

</script>
<script>
    $(document).ready(function(){
        $('#like').on('click', function(e){
            e.preventDefault()
            var like = 'like'
            var article_id = $('#article').attr('data-id')
            data = {
                article_id: article_id,
                like: like
            }

            $.ajax({
                type: "GET",
                url: "{% url 'user_reaction' %}",
                dataType: 'json',
                data: data,
                error: function(){
                    if (!$('.like-dislike').hasClass('showError')) {
                        var $loginErrorMessage = $('<div class="alert alert-info" role="alert" style="padding: 5px; margin: 10px;">Чтобы иметь возможность оценить статью, нужно зарегестрироваться!</div>')
                        $('.like-dislike').after($loginErrorMessage)
                        $('.like-dislike').addClass('showError')
                    }
                },
                success: function(data){
                    console.log($('#liked').html())
                    if (!(+$('#liked').html() == data.likes)) {
                        $('#liked').html(data.likes)
                        $('#disliked').html(data.dislikes)
                    } else {
                        if (!$('.like-dislike').hasClass('showYourReaction')) {
                            var $loginErrorMessage = $('<div class="alert alert-success" role="alert" style="padding: 5px; margin: 10px;">Вы уже оценили данную статью, спасибо!</div>')
                            $('.like-dislike').after($loginErrorMessage)
                            $('.like-dislike').addClass('showYourReaction')
                        }
                    }
                }
            })
        })
    })
    $(document).ready(function(){
        $('#dislike').on('click', function(e){
            e.preventDefault()
            var dislike = 'dislike'
            var article_id = $('#article').attr('data-id')
            data = {
                article_id: article_id,
                dislike: dislike
            }

            $.ajax({
                type: "GET",
                url: "{% url 'user_reaction' %}",
                dataType: 'json',
                data: data,
                error: function(){
                    if (!$('.like-dislike').hasClass('showError')) {
                        var $loginErrorMessage = $('<div class="alert alert-info" role="alert" style="padding: 5px; margin: 10px;">Чтобы иметь возможность оценить статью, нужно зарегестрироваться!</div>')
                        $('.like-dislike').after($loginErrorMessage)
                        $('.like-dislike').addClass('showError')
                    }
                },
                success: function(data){
                    if (!(+$('#disliked').html() == data.dislikes)) {
                        $('#liked').html(data.likes)
                        $('#disliked').html(data.dislikes)
                    } else {
                        if (!$('.like-dislike').hasClass('showYourReaction')) {
                            var $loginErrorMessage = $('<div class="alert alert-success" role="alert" style="padding: 5px; margin: 10px;">Вы уже оценили данную статью, спасибо!</div>')
                            $('.like-dislike').after($loginErrorMessage)
                            $('.like-dislike').addClass('showYourReaction')
                        }
                    }
                }
            })
        })
    })

</script>
<script>
    $(document).ready(function(){
        $('.article').on('click', function(e){
            e.preventDefault()
            var article_slug = $(this).attr('data-slug')

            data = {
                article_slug: article_slug
            }

             $.ajax({
                type: "GET",
                url: "{% url 'add_to_favorites' %}",
                dataType: 'json',
                data: data,
                success: function(data){
                    $('.add_to_favorites-'+article_slug).css('display', 'none')
                    $('.article_added-'+article_slug).html('<button class="btn btn-default disabled">Добавлено в избранное</button>')
                }
             })
        })
    })

</script>
{% endblock jquery %}
{% endblock content %}