{% extends 'index.html' %}

{% block content %}
<div class="container">
    <h2>Статьи из категории: {{ category.name }}</h2>
    <hr>
    <div class="row">
        {% for article in articles_from_category %}
        <div class="col-sm-12" style="margin-bottom:20px; padding-bottom:15px; border-bottom: 2px dashed lightgrey;">
            <div class="col-sm-4">
                <img class="image-responsive" src="{{ article.image.url }}"
                     style="height: 400px" alt="can't load image:(">
            </div>
            <div class="col-sm-8">
                <h2 class="text-center">{{ article.title }}</h2><br>
                <p>{{ article.content|truncatewords:40 }}</p>
                <a href="{{ article.get_absolute_url }}">
                    <button class="btn btn-primary">Читать полностью</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
