{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h3 class="text-center">Личный кабинет пользователя {{ current_user }}</h3>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h4><strong>Личная информация</strong></h4>
            <p>Логин: {{ current_user }}</p>
            <p>Имя: {{ current_user.user.first_name }}</p>
            <p>Фамилия: {{ current_user.user.last_name }}</p>
            <p>E-mail: {{ current_user.user.email }}</p>
        </div>
        <div class="col-sm-8">
            <h4 class="text-center"><strong>Избранные статьи</strong></h4>
            <ul class="button-group">
                {% for article in current_user.favorite_articles.all %}
                <a href="{{ article.get_absolute_url }}" class="remove_from_favorites-{{ article.slug }}"
                   style="text-decoration: none; color: black;">
                    <li class="list-group-item remove_from_favorites-{{ article.slug }}"
                        class="remove_from_favorites-{{ article.slug }}">
                        <p>{{ article.title }}</p>
                        <a href="#" class="favorite_article" data-slug="{{ article.slug }}">
                            <p style="color: darkred; padding-left: 450px;">Удалить из избранного</p>
                        </a>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% block jquery %}
<script>
    $(document).ready(function(){
        $('.favorite_article').on('click', function(e){
            e.preventDefault()
            var article_slug = $(this).attr('data-slug')

            data = {
                article_slug: article_slug
            }

             $.ajax({
                type: "GET",
                url: "{% url 'remove_from_favorites' %}",
                dataType: 'json',
                data: data,
                success: function(data){
                    $('.remove_from_favorites-' + article_slug).remove()
                }
             })
        })
    })

</script>
{% endblock jquery %}
{% endblock content %}